.white-bg{
    -fx-background-color:#fff;
}
.radius{
    -fx-background-radius: 8px;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0,0.5), 5,0,0,0);
}
.main-bg{
  /* --  -fx-background-color: linear-gradient(to bottom right, #FFBB44, #FFCC88); */
    -fx-background-color: linear-gradient(to bottom right, #0088bb, #00bbee);
}
.btn{
    -fx-background-color: linear-gradient(to bottom right, #0abfa4, #00d079);
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}
.nav-btn{
    -fx-background-color: transparent;
    -fx-cursor:hand;
    -fx-border-color:#fff;
    -fx-border-width: 0.9px;
    -fx-text-fill: #fff;
}
.nav-btn:hover{
/*     -fx-background-color: #0abfa4;
    -fx-cursor:hand;
    -fx-border-color: #0abfa4;
    -fx-border-width: 0.8px;
    -fx-text-fill: #fff; */

    -fx-background-color: #74777B;
    -fx-cursor:hand;
    -fx-border-color: #74777B;
    -fx-border-width: 0.9px;
    -fx-text-fill: #ffffff;

}